/*-- scss:defaults --*/

//Colors
$turquoise-cv: #179498;
$turqoise-cv-very-light:#e2f5f5;
$turquoise-cv-light:#76c8cb;
$greenish-light: #c0e1cc;
$purple-light:#b5bde5;
$brown-light:#a8866f;
$predictions: #c4c1d7;
$patterns: #fb8072;
$locations: #9ad236;
$places-related:#8dd3c7;
$measuring: #e5c494;
$where: #80b1d3;
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
// Base document colors
$navbar-bg: $turquoise-cv; // navbar
$navbar-fg: white; // navbar foreground elements
$navbar-hl: $turqoise-cv-very-light; // highlight color when hovering over navbar links
$body-bg: white; // page background
$footer-bg: $turquoise-cv; // footer 
$link-color: $turquoise-cv; // hyperlinks
// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color
.body{
  background-color: white;}
// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/
h1,h2{
  letter-spacing: 5px;
  color:$gray;
}
p  {
	text-align: justify;
	text-indent: 2rem;
}
li {
	text-align: justify;
}


