/*-- scss:defaults --*/

//Colors
$turquoise-cv: #179498;
$turqoise-cv-very-light:#e2f5f5;
$turquoise-cv-light:#76c8cb;
$greenish-light: #c0e1cc;
$purple-light:#b5bde5;
$brown-light:#a8866f;
$predictions: #c4c1d7;
$patterns: #fb8072;
$locations: #9ad236;
$places-related:#8dd3c7;
$measuring: #e5c494;
$where: #80b1d3;
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
// Base document colors
$navbar-bg: white; // navbar
$navbar-fg: $gray; // navbar foreground elements
$navbar-hl: $turquoise-cv; // highlight color when hovering over navbar links
$body-bg: white; // page background 
$body-color: black; // page text 
$footer-bg: $turquoise-cv; // footer 
$link-color: $turquoise-cv; // hyperlinks 
// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// font
.font-colour{
  color: $turquoise-cv;
}

.font-turquoise{
  background-color: $turquoise-cv;
  color: white;
}
.font-clay{
  background-color:#d8b365;
  color: white;
}
.font-turquoise-light{
  background-color: $turquoise-cv-light;
  color: white;
}

.group-master-internship {
  border: 2px solid $turquoise-cv;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.group-master-thesis {
  border: 2px solid $turquoise-cv-light;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.group-bachelor {
  border: 2px solid #d8b365;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}


// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/
h1,h2{
  letter-spacing: 2px;
  color:$gray;
}

.card-img-top {
  text-indent: 0em;
  margin-bottom: 0;
}

p  {
	text-align: justify;
	text-indent: 2rem;
}

p.subtitle {
  text-indent:0rem;
}

div.description{
  text-indent:0rem;
  text-align: left;
  color: #turquoise-cv;
}

.quarto-category:hover a{
  font-weight: bold;
}

li {
	text-align: justify;
}
.subtitle.lead {
  color: $turquoise-cv;
}

.btn-outline-custom {
  color: #33939e;
  text-indent: 0rem;
  text-align: left;
  border: 1px solid #33939e;
  background-color: transparent;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active {
  background-color: #33939e;
  color: #fff;
}

/* prueba time-line */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-first-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%; /* allow more space */
  grid-template-columns: repeat(3, minmax(150px, 1fr)); 
}

.grid-item-1 {
grid-row: 1;
grid-column: 1;
}
.grid-item-2 {
grid-row: 1;
grid-column: 2;
}
.grid-item-3 {
grid-row: 1;
grid-column: 3;
}
.grid-item-4 {
grid-row: 1;
grid-column: 4;
}
[class^='grid-item'] {
display: grid;
justify-content: center;
align-items: center;
font-size: 17px;
}

/* query media */
@media (max-width: 768px) {
  .my-first-grid {
    width: 100%; /* Full width on tablets/small screens */
  }
}

/* button */
button.button_muted{
  border: 1px solid black;
  border-color: black;
  border-radius: 0.25rem;
  top: 50%;
  left: 50%;
  
  color: black;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.button_muted:hover,
.button_muted:focus,
.button_muted:active {
  color: $turquoise-cv;
  border-color: $turquoise-cv;
}


/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  background-color: #f1f3f4;
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #26c6da;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #26c6da;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}

/* iconitos */
.noto--world-map {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("assets/stylesheets/logos/noto--world-map.svg");
}

.noto--globe-showing-europe-africa {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("logos/noto--globe-showing-europe-africa.svg");
}

.noto--school {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("logos/noto--school.svg");
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: fill;
}

.timeline-title.btn-link {
  text-decoration: none;
  color: inherit;
}

.timeline-title.btn-link:hover,
.timeline-title.btn-link:focus,
.timeline-title.btn-link:active {
  text-decoration: none;
  color: inherit;
}

.timeline-content.show {
  background-color: #f2f3f5; /* Light blue background, change as needed */
  padding: 1rem; /* Optional: add spacing */
  border-radius: 0.5rem; /* Optional: rounded corners */
  transition: background-color 0.3s ease;
}


